body {
  font-family: "Lora sans-serif";
  background-image: url("images/seattle.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}

p {
  text-align: center;
  margin: auto;
  background-color: #DDDDDD;
  padding: 30px;
} 

#family_title_line {
  text-align: center;
  margin: auto;
  background-color: #DDDDDD;
  padding: 5px;
  font-size: 25px;
} 

img {
  margin:auto;
  width: 50%;
}

#locations {
  text-align: center;
  /*margin: auto */
  background-color: #DDDDDD;
  background-opacity: .2;
  width: 30%;
  position: absolute;
  right: 0px;
  top: 340px;
}

#salmon_festivals_sidebar{
  text-align: center;
  /*margin: auto */
  background-color: #DDDDDD;
  background-opacity: .2;
  width: 30%;
  position: absolute;
  right: 0px;
  top: 825px;
}

#Ocean_Science_Links{
  position:absolute;
  left:1%;
  bottom: -550px;
  width:990px;
  margin:auto;
  z-index:1;
}

#head {
  font-family: "Josephin sans-serif";
  font-weight: 500;
  font-style: bold;
  font-size: 50px;
  text-align: center;
}

#slogan {
  font-size: 35px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}

#merchpic {
  width: 900px;
  position:absolute;
  left:30%;
  top: 1250px;
}

#cookie {
  height: 250px;
  width: 500px;
  position:absolute;
  top: 35%;
  left: 32.5%;
}


#story, #merch {
  background-color: rgba(120, 120, 120, 0.65);
  text-align: center;
  width: 200px;
}

#mainfish {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.salmon {
  font-style: oblique;
  color: #FF8D63;
  text-shadow: 1px 1px #6B3B2A;
}

#creepy {
  position: absolute;
  left: 10px;
  top: 99%;
  margin:auto;
  width: 1000px;
}

footer {
  font-style: bold;
  height: 25px;
  background-color: #DDDDDD;
  text-align: center;
  text-decoration: underline;
  padding:5px;
}

#swimmer {
  width: 300px;
  height: 150px;
  position: absolute;
  left: -500px;
  top: 100px;
  animation: swim 7s;
  -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

@keyframes swim {
  0% {
    transform: translateY(500px) translateX(-500px) ;
  }
  25% {
    transform: translateY(400px) translateX(0px) ;
  }
  50% {
    transform: translateY(375px) translateX(500px) ;
  }
  75% {
    transform: translateY(350px) translateX(1000px) ;
  }
  100% {
    transform: translateY(500px) translateX(1800px) ;
  }
}
