html {
  margin: 30px;
  background-color: #ffc9bc;
}

body {
  padding: 60px;
  background-color: #AABBCC;
}

#stores {
  border: 80px;
  background-color: #D2C4E8;
}

table {
  background-color: #c9ffc9;
}
