html {
  margin: 100px;
  background-color: #ffc9bc;
}

body {
  padding: 60px;
  background-color: #AABBCC;
}

#slogan {

}

#stores {
  border: 80px;
  background-color: #D2C4E8;

}

img {

}

fieldset {

}

table {
  background-color: #c9ffc9;
}

legend {

}

label {

}

input {

}
